
.yellow-gradient {
    position: relative;
    z-index: 2;
    min-width: 1000px;
    border-bottom: 1px solid #eed478;

    background: #fffcc4; /* Old browsers */
    background: -moz-linear-gradient(top,  #fffcc4 0%, #ffe895 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffcc4), color-stop(100%,#ffe895)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fffcc4 0%,#ffe895 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fffcc4 0%,#ffe895 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fffcc4 0%,#ffe895 100%); /* IE10+ */
    background: linear-gradient(top,  #fffcc4 0%,#ffe895 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcc4', endColorstr='#ffe895',GradientType=0 ); /* IE6-9 */
}

.left {
    float: left;
}

.right {
    float: right;
}

.white-shadow {
    text-shadow: 0 1px 0 #fff;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a:active {
    position: relative;

}

:focus {
  -moz-outline-style: none;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
	background-color: #f5f5f5;
	background-image: none;
}

body {
	font-size: 14px;
	line-height: 21px;
}

.underline {
    text-decoration: underline;
}

.small-text {
	color: #ccc;
	font-size: 12px;
	margin: 15px 0px;
}

.blog-content .content {
	background-color: transparent;
	padding: 0px;
	border: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.blog-content .content .white-panel {
	padding: 35px 45px;
}

.page-title {
	margin-bottom: 17px;
}

.header {
	background-color: #252525;
	-webkit-box-shadow: 2px 0px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 0px 4px rgba(0,0,0,0.5);
	-o-box-shadow: 2px 0px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 0px 4px rgba(0,0,0,0.5);
	padding: 14px 20px;
	margin-bottom: 35px;
	position: relative;
	z-index: 2;
}

.header .span9 {
	text-align: right;
	font-size: 14px;
}

.header p {
	font-size: 14px;
	margin: 0px;
	padding-top: 4px;
}


.header h1 img {
	display: block;
}

.footer {
	background-color: #252525;
	padding: 45px 0px;
}

.footer p {
	color: #bababa;
	padding: 15px 0px;
}

.footer ul {
	list-style: none;
	margin: 0px;
	color: #6a6a6a;
	font-size: 13px;
}


.footer ul li {
	margin-bottom: 10px;
}

.footer .links-horizontal li {
	float: left;
	margin-left: 20px;
}

.footer ul li:first-child {
	margin-bottom: 15px;
	margin-left: 0px;
}

.footer .row {
	margin-bottom: 20px;
}

.footer a {
	color: #bdbdbd;
}


.green-checks {
	margin: 30px 0px;
	list-style: none;
}

.green-checks li {
	margin-bottom: 15px;
	padding-left: 35px;
	padding-top: 2px;
	font-size: 15px;
	background-image: url('../../img/icons/green-tick.png');
	background-repeat: no-repeat;
	background-position: 0px 3px;
}


.green-checks-small {
	margin: 30px 0px;
	list-style-image: url('../../img/icons/green-tick-small.png');
	list-style-position: inside;
}

.green-checks-small li {
	margin-bottom: 15px;
	padding-left: 0px;
	padding-top: 2px;
	font-size: 15px;
}


.cssanimations .float-up {
	-webkit-animation-duration: 2s;
	-webkit-animation-name: float-up;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
	position: absolute;
	top: 500px;
}

@-webkit-keyframes float-up {
	0% { top: 500px; opacity: 0; }
	25% { opacity: 1; }
	35% { top: -20px; }
	100% { top: 60px; }
}



.white-panel {
	background-color: #fff;
	border: 1px solid #dadada;
	padding: 0px;
	margin-bottom: 40px;
	color: #333;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}

.gradient-panel {
	background-image: url('../img/sidebar-gradient.jpg');
	background-position: center center;
}

.gradient-panel h3 {
	margin-bottom: 10px;
}

.sidebar .white-panel {
	padding: 20px;
}

.sidebar form {
	margin: 0px;
}

.sidebar form input {
	max-width: 100%;
}
.sidebar .signup-form h3 {
	margin-bottom: 20px;
}

.sidebar .signup-form .btn {
	margin-bottom: 10px;
}

.sidebar input[type="text"] {
	padding: 15px 10px;
}

.sidebar .search-box input[type="text"] {
	margin: 15px 0px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}



.padding-large {
	padding: 45px;
}

.pre-meta {
	color: #b7b7b7;
	margin-top: 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 16px;
	font-weight: 300;
}

.pre-meta a {
	color: inherit;
}

.pre-meta img {
	margin-right: 10px;
}

.wp-post-image, [class*="wp-image-"] {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin: 0px 0px 20px;
}

.wp-post-image {
	margin: 20px 0px;
}

.no-padding {
	padding: 0px;
}

.single-post {
	font-weight: 300;
}

.logoset {
	margin: 5px 0px 60px -20px;
}

.logoset div {
	text-align: center;
}



.better-manage {
	position: relative;
}

.better-manage .row {
	position: relative;
	height: 429px;
}

.better-manage .slider-container {
	position: absolute;
	bottom: 0;
	right: 30px;
}

.better-manage ul.slider {
	list-style: none;
	margin: 0px;
}

.better-manage .small-text {
	margin-bottom: 0px;
}



.menu {
    /*
    i always create class for top element that i'm targetting, even if it doesn't require any styling :)
    */

}

.menu .menu-list {
    /*
    and each rule starts from top element (here .features), so it's much easier to find it using "inspect element"
    when all files are minimised and compressed into one file (cos then line number doesn't help at all)
    */
    list-style-type: none;
    float: right;
    padding-top: 5px;
}

.menu .menu-item {
    display: inline;
    font-size: 13px;
    color: #fff;
    margin-left: 30px;
}

.menu .highlight-item {
	color: #70cb00;
}

.header-image {
	border-bottom: 1px solid #dadada;
	-webkit-border-top-left-radius: inherit;
	-webkit-border-top-right-radius: inherit;
	-moz-border-radius-topleft: inherit;
	-moz-border-radius-topright: inherit;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.page-heading {
	text-align: center;
	padding: 45px 0px;
}

.page-heading h1 {
	font-size: 48px;
	font-weight: 400;
	letter-spacing: -1px;
}

.page-heading h2 {
	color: #9e9e9e;
}



.gc-well {
	padding: 39px;
}



.large-link-list {
	margin: 0px;
	border-bottom: 1px solid #dadada;
	list-style: none;
}

.large-link-list li {
	height: 100px;
	font-size: 18px;
	color: #9e9e9e;
	display: block;
	float: left;
	text-align: center;
	text-shadow: 0px 1px 0px #fff;
	background-image: url('../../img/grey-arrow-right.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding: 36px 30px 36px 60px;
}

.large-link-list li:first-child {
	background-image: none;
}

.large-link-list li a {
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 34px;
	height: 34px;
}

.large-link-list li.selected {
	color: #0078cc;
}




.button-text-panel {
	text-align: center;
	padding: 25px 30px;
}

.button-text-panel h1, .button-text-panel h2, .button-text-panel h3 {
	display: inline;

}

.button-text-panel a {
	position: relative;
	top: -3px;
	margin-left: 20px;
}


a.btn-block {
	display: block;
}


.white-panel h2 {
	margin: 0px 0px 30px 0px;
}






a.gc-icon:hover {
	text-decoration: none;
}


a.gc-icon.agency-icon {
	padding-left: 36px;
	background-image: url('../../img/icons/agencies.png');
	background-position: 0px 6px;
	background-repeat: no-repeat;
}

a.gc-icon.agency-icon:hover {
	background-position: 0px -154px;
}

li.active a.gc-icon.agency-icon,
li.selected a.gc-icon.agency-icon {
	background-position: 0px -74px;
}






a.gc-icon.higher-ed-icon {
	padding-left: 48px;
	background-image: url('../../img/icons/higher-ed.png');
	background-position: 0px 6px;
	background-repeat: no-repeat;
}

a.gc-icon.higher-ed-icon:hover {
	background-position: 0px -154px;
}

li.active a.gc-icon.higher-ed-icon,
li.selected a.gc-icon.higher-ed-icon {
	background-position: 0px -74px;
}




a.gc-icon.enterprise-icon {
	padding-left: 32px;
	background-image: url('../../img/icons/enterprise.png');
	background-position: 0px 4px;
	background-repeat: no-repeat;
}

a.gc-icon.enterprise-icon:hover {
	background-position: 0px -156px;
}

li.active a.gc-icon.enterprise-icon,
li.selected a.gc-icon.enterprise-icon {
	background-position: 0px -76px;
}




a.gc-icon.gov-icon {
	padding-left: 37px;
	background-image: url('../../img/icons/gov.png');
	background-position: 0px 4px;
	background-repeat: no-repeat;
}

a.gc-icon.gov-icon:hover {
	background-position: 0px -156px;
}

li.active a.gc-icon.gov-icon,
li.selected a.gc-icon.gov-icon {
	background-position: 0px -76px;
}




a.gc-icon.list-icon {
	padding-left: 34px;
	background-image: url('../../img/icons/list.png');
	background-position: 0px 8px;
	background-repeat: no-repeat;
}

a.gc-icon.list-icon:hover {
	background-position: 0px -152px;
}

li.active a.gc-icon.list-icon,
li.selected a.gc-icon.list-icon {
	background-position: 0px -72px;
}



a.gc-icon.sync-icon {
	padding-left: 37px;
	background-image: url('../../img/icons/sync.png');
	background-position: 0px 6px;
	background-repeat: no-repeat;
}

a.gc-icon.sync-icon:hover {
	background-position: 0px -154px;
}

li.active a.gc-icon.sync-icon,
li.selected a.gc-icon.sync-icon {
	background-position: 0px -74px;
}





a.gc-icon.export-icon {
	padding-left: 36px;
	background-image: url('../../img/icons/open-in.png');
	background-position: 0px 7px;
	background-repeat: no-repeat;
}

a.gc-icon.export-icon:hover {
	background-position: 0px -153px;
}

li.active a.gc-icon.export-icon,
li.selected a.gc-icon.export-icon {
	background-position: 0px -73px;
}

.the-team {
	list-style: none;
	margin: 0px 0px 30px;
}

.the-team li {
	clear: both;
	padding-bottom: 10px;
}

.the-team img {
	float: left;
	margin-right: 10px;
}

.the-team p {
	float: left;
	font-size: 13px;
}

.the-team p a {
	color: inherit;
}

.the-team p strong {
	font-size: 14px;
	font-weight: normal;
}



.twitter-link {
	background-image: url('../img/icons/twitter.png');
	background-repeat: no-repeat;
	background-position: left center;
	display: inline;
	height: 16px;
	width: 16px;
	padding: 8px 8px 8px 25px;
	opacity: 0.4;
	margin-left: 5px;
	filter: alpha(opacity=40);
}

.twitter-link span {
	display: none;
}

.twitter-link:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}


.single-post h1,
.single-post h2,
.single-post h3,
.single-post h4,
.single-post h5,
.single-post h6 {
	margin: 0 0 0.75em 0;
}

.single-post h3,
.single-post h4 {
	font-weight: 400;
}

.single-post ul li,
.single-post ol li {
	line-height: 1.5em;
}

.single-post ul li ul,
.single-post ol li ol {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.newer-older {
	margin-bottom: 40px;
}

.newer-older a {
	color: #0086c9;
}


.sidebar .social-icons {
	list-style: none;
	margin: 0px 0px 20px 0px;
}

.sidebar .social-icons li {
	float: left;
	margin-right: 5px;
}

.sidebar .social-icons li a {
	background-image: url('/assets/themes/holbrook/img/social.png');
	background-repeat: no-repeat;
	display: block;
	height: 33px;
	width: 33px;
}

.sidebar .social-icons li span {
	display: none;
}

.sidebar .social-icons .facebook a {
	background-position: left bottom;
}

.sidebar .social-icons .facebook a:hover {
	background-position: left top;
}

.sidebar .social-icons .twitter a {
	background-position: -39px -50px;
}

.sidebar .social-icons .twitter a:hover {
	background-position: -39px 0px;
}

.sidebar .social-icons .rss a {
	background-position: -78px -50px;
}

.sidebar .social-icons .rss a:hover {
	background-position: -78px 0px;
}








.sidebar .categories {
	list-style: none;
	margin: 10px 0px 0px;
}

.sidebar .categories li {
	margin: 10px 0px 0px;
	padding-left: 20px;
	background-image: url('../img/icons/right-arrow.png');
	background-repeat: no-repeat;
	background-position: 0px 3px;
}

.sidebar .categories a {
	color: #08C;
}

.special-cell {
	border: 3px solid black;
	padding: 5px 24px;
}

.special-cell.half {
	width: 316px;
}

.special-cell legend {
	padding: 5px;
	padding-right: 10px;
	display: inline;
	width: auto;
	margin-bottom: 0;
	border-bottom: 0;
}
