---
layout: page
title: 标签
---
<div class="row">
   <div class="col-md-6 col-md-offset-3">

{% assign tags = site.tags %}
{% for tag in tags %}
 <span class="site-tag">
    <a href="#{{ tag[0] }}-ref"
        style="font-size: {{ tag | last | size  |  times: 16 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' }} <small>({{ tag | last | size }})</small>
    </a>
</span>
 {% endfor %}
 </div>
</div>


<div class="row">
  {% for post in site.posts %}
{% endfor %}

</div>

<section class="post-archive">

  {% for category in site.tags %}
  <div class="year-bundle row gutters fadeInDown animated">
        <h2 class="post-year col span_2" id="{{ category[0] }}-ref">
          {{ category[0] | join: "/" }}
        </h2>
        <div class="posts-by-year col span_10">
          {% for post in category[1] %}
	  {% include list.html %}
          {% endfor %}
        </div>
  </div>
{% endfor %}
</section>
