<div id="footer">
            Copyright © 2015 <a href="http://www.awio.com">Awio Web Services LLC</a>.
            &nbsp;
            Developed and maintained by <a href="http://www.dangrossman.info/">Dan Grossman</a>. 
            &nbsp;
</div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/metro/build/js/metro.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<!--script src="scripts/controllers/main.js"></script-->
<!-- endbuild -->
