 <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
    <ul class="nav navbar-nav">
        <li>
            <a href="/" rel="nofollow" style="background: #eee; color: #000">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-bank fa-stack-1x fa-inverse" style="color: #eee"></i>
                </span>
                心内求法 
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
          <li>
                        <a href="/pages/categories.html" rel="nofollow" style="background: #f49a16">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-list-ul fa-stack-1x fa-inverse" style="color: #f49a16"></i>
                            </span>
                           分类 
                        </a>
                    </li>
                    <li>
                        <a href="/pages/tags.html" rel="nofollow" style="background: #00caff">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-tags fa-stack-1x fa-inverse" style="color: #00caff"></i>
                            </span>
                            标签
                        </a>
                    </li>
                    <li>
                        
                <a href="{{ "/feed.xml" | prepend: site.baseurl }}"
                   rel="nofollow" style="background: #009fe8">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss-square fa-stack-2x fa-inverse" style="color: #009fe8"></i>
                            </span>
                            订阅
                        </a>
                    </li>
                    <li>
                        <a href="/pages/about.html" rel="nofollow" style="background: #f55443">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-user fa-stack-1x fa-inverse" style="color: #f55443"></i>
                            </span>
                            关于
                        </a>
                    </li>
                </ul>
            </div>
 </nav>

      <!--div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div-->
