[submodule "themes/pelican-alchemy"]
	path = themes/pelican-alchemy
	url = https://github.com/nairobilug/pelican-alchemy
[submodule "plugins/pelican-ipynb"]
	path = plugins/pelican-ipynb
	url = http://github.com/danielfrg/pelican-ipynb.git
[submodule "content/reading/python-for-data-analysis/data"]
	path = content/reading/python-for-data-analysis/data
	url = https://github.com/wesm/pydata-book
[submodule "plugins/pelican-toc"]
	path = plugins/pelican-toc
	url = https://github.com/ingwinlu/pelican-toc.git
