---
layout: 	page
---


{% for page in paginator.posts %}

        <h4><a href="{{page.url}}">{{page.title}}&nbsp;&nbsp;&raquo;&raquo;</a></h4>
        <p class="pre-meta">
           {% include post_info_bar %}
        </p>
        <p>{{ page.description }}</p>
<hr style="height:1px;border:none;border-top:1px dashed #987cb9; color:#987cb9;"/>
{% endfor %}


{% if paginator.total_pages > 1 %}
<div class="pagination" style="margin-top:30px;margin-left:20px;">
<ul>
	{% if paginator.previous_page %}
	<li class="previous active"><a href="/{{paginator.previous_page_path}}">&larr;</a></li>
	{% else %}
  	<li class="previous"><a href="javascript:void(0);">&larr;</a></li>
  	{% endif %}


  	{% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li class="active"><a href="javascript:void(0);">{{ page }}</a></li>
    {% else %}
    <li class=""><a href="/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
    {% endif %}
    {% endfor %}
  

  {% if paginator.next_page %}
	<li class="next active"><a href="/{{paginator.next_page_path}}">&rarr;</a></li>
	{% else %}
  	<li class="next"><a href="javascript:void(0);">&rarr;</a></li>
  	{% endif %}
</ul>
</div>
{% endif %}	