---
layout: 	default
---

<div class="container">
	<div class="row">
		<div class="span9">
			{% for page in paginator.posts %}
			<div class="white-panel">
			  
			        <h4><a href="{{page.url}}">{{page.title}}</a></h4>
			        <p class="pre-meta">
			           {% include post_info_bar %}
			        </p>
			        <p>{{ page.description }}</p>
			        <div class="row">
			        <a href="{{page.url}}" class="btn btn-primary pull-right">阅读全文&rarr;</a>
			    </div>
			  
			</div>
			{% endfor %}
			{% if paginator.total_pages > 1 %}
			<div class="row" style="margin-top:30px;margin-left:20px;">
				<div class="span12">		
			  		<div class="btn-group">
			  			{% if paginator.previous_page %}
			  			<a class="btn btn-small btn-primary" href="/{{paginator.previous_page_path}}">&larr;</a>
			  			{% else %}
			  			<a class="btn btn-small" href="javascript:void(0);">&larr;</a>
			  			{% endif %}
			  		</div>
			  		<div class="btn-group">
			  			{% for page in (1..paginator.total_pages) %}
				        {% if page == paginator.page %}
				        <a class="btn btn-small btn-danger" href="javascript:void(0);">{{ page }}</a>
				        {% else %}
				        <a class="btn btn-small btn-inverse" href="/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a>
				        {% endif %}
				        {% endfor %}
			  		</div>
			  		<div class="btn-group">
			  			{% if paginator.next_page %}
			  			<a class="btn btn-small btn-primary" href="/{{paginator.next_page_path}}">&rarr;</a>
			  			{% else %}
			  			<a class="btn btn-small" href="javascript:void(0);">&rarr;</a>
			  			{% endif %}
			  		</div>
				</div>
			</div>
			{% endif %}	
			
		</div>		
		<!-- 文章导航
		================================================== -->
		<div class="span3">
	    	{% include parts/side_bar.html %}    
		</div>


	</div>

	
</div>









