<div class="row">
      <div class="col span_7">
        <p><h4 class="footer-title">心内求法</h4>
        制心一境，住心观性，澄心外照，摄心内证</p>
        
        <p>&copy; Copyright 2014  <a herf='mailto:wanghaikuo@gmail.com'>Holbrook Wong</a>. 
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank">署名-非商业性使用-相同方式共享</a> 
        </p>
        

        <a rel="license nofollow" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/cn/88x31.png" /></a>

        <a rel="nofollow" href="http://www.alexa.com/siteinfo/thinkinside.tk" target="_blank" class="AlexaSiteStatsWidget"></a>

        <!-- Site Meter -->
        <script type="text/javascript" src="http://s51.sitemeter.com/js/counter.js?site=s51thinkinside" async="true">
        </script>
        <noscript>
        <a href="http://s51.sitemeter.com/stats.asp?site=s51thinkinside" target="_top">
        <img src="http://s51.sitemeter.com/meter.asp?site=s51thinkinside" alt="Site Meter" border="0"/></a>
        </noscript>
      </div> <!-- /span8 -->

      <div class="col span_5 current-page">
        <div class="footer-banner">
          <h3 class="footer-title">关于</h3>
          <iframe width="100%" height="80" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1878878250&verifier=b193b9de&colors=d6f3f7,1abc9c,666666,0082cb,ecfbfd&dpc=1"></iframe>
          <h5>我以前的博客</h5>
<ul>
  <li><a href="http://www.cnblogs.com/holbrook/" target="_blank">@博客园</a>(2012.2--2013.5)</li>
  <li><a href="http://blog.csdn.net/thinkinside/" target="_blank">@CSDN</a>(2007.7--2012.2)</li>
  <li><a href="http://www.blogjava.net/wanghaikuo" target="_blank">@blogjava</a>(2006.10--2007.7)</li>
</ul>
          
          
        </div>
      </div>
    </div>
