<div id="sidebar-border">
    <div id="rss_border">
        <div class="rss_border">
            <div id="rss_wrap">
                <div class="rss_wrap">
                                        <a class="rss rss_text" href="http://ncona.com/feed/" rel="bookmark" title="RSS Feed">RSS Feed</a>
                                                                                                                    </div>
            </div>
        </div>
    </div>
    <div id="sidebar">

        <div id="recent-posts-2" class="widget widget_recent_entries">      <h3 class="widgettitle">Recent Posts</h3>       <ul>
                    <li>
                <a href="http://ncona.com/2014/11/css-flexbox/">CSS Flexbox</a>
                        </li>
                    <li>
                <a href="http://ncona.com/2014/11/convert-array/">Convert Array</a>
                        </li>
                    <li>
                <a href="http://ncona.com/2014/11/change-syntastic-default-syntax-checker/">Change syntastic default syntax checker</a>
                        </li>
                    <li>
                <a href="http://ncona.com/2014/10/angularjs-vocabulary/">AngularJS vocabulary</a>
                        </li>
                    <li>
                <a href="http://ncona.com/2014/10/algorithm-to-check-if-a-word-is-a-palindrome/">Algorithm to check if a word is a palindrome</a>
                        </li>
                </ul>
        </div>

        <div id="categories-2" class="widget widget_categories"><h3 class="widgettitle">Categories</h3>       <ul>
    <li class="cat-item cat-item-78"><a href="http://ncona.com/category/application-design/" >Application Design</a>
</li>
    <li class="cat-item cat-item-38"><a href="http://ncona.com/category/automation/" >Automation</a>
</li>
    <li class="cat-item cat-item-37"><a href="http://ncona.com/category/cc/" >C/C++</a>
</li>
    <li class="cat-item cat-item-40"><a href="http://ncona.com/category/css/" >CSS</a>
</li>
    <li class="cat-item cat-item-20"><a href="http://ncona.com/category/git/" >Git</a>
</li>
    <li class="cat-item cat-item-3"><a href="http://ncona.com/category/javascript/" >Javascript</a>
</li>
    <li class="cat-item cat-item-13"><a href="http://ncona.com/category/linux/" >Linux</a>
</li>
    <li class="cat-item cat-item-64"><a href="http://ncona.com/category/mobile-development/" >Mobile development</a>
</li>
    <li class="cat-item cat-item-70"><a href="http://ncona.com/category/mysql/" >Mysql</a>
</li>
    <li class="cat-item cat-item-10"><a href="http://ncona.com/category/php/" >PHP</a>
</li>
    <li class="cat-item cat-item-30"><a href="http://ncona.com/category/python/" >Python</a>
</li>
    <li class="cat-item cat-item-53"><a href="http://ncona.com/category/vim/" >Vim</a>
</li>
        </ul>
</div>

    </div><!-- end: #sidebar -->
</div><!-- end: #sidebar-border -->
