<div id="sidebar-border">
    <div id="rss_border">
        <div class="rss_border">
            <div id="rss_wrap">
                <div class="rss_wrap">
                                        <a class="rss rss_text" href="/rss.xml" rel="bookmark" title="RSS Feed">RSS Feed</a>
                                                                                                                    </div>
            </div>
        </div>
    </div>
    <div id="sidebar">

        <div id="recent-posts-2" class="widget widget_recent_entries">      <h3 class="widgettitle">Recent Posts</h3>       <ul>
                    <li><a href="#">xxxxxxx</a></li>
                </ul>
        </div>

        <div id="categories-2" class="widget widget_categories"><h3 class="widgettitle">Categories</h3><ul>
    <li class="cat-item cat-item-78"><a href="#">xxxxxxx</a></li>

        </ul>
</div>

    </div><!-- end: #sidebar -->
</div><!-- end: #sidebar-border -->
