---
layout: default
---

<!--div class="home"-->
<div class="container">

  {% for post in paginator.posts %}
  {% include list.html %}
  {% endfor %}

<div id="pagination" class="row">
<nav>
  <ul class="pagination">

    {% if paginator.previous_page %}
    <li>
      <a href="{{ paginator.previous_page_path }}" aria-label="Previous">
	<span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="disabled">
      <a href="#" aria-label="Previous">
	<span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}

    {% if paginator.page == 1 %}
    <li class="active">
      <a href="#">1</a>
    </li>
    
    {% else %}
    <li>
      <a href="/">1</a>
    </li>
    {% endif %}
    
    {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
    <li class="active">
      <a href="#">{{count}}</a>
    </li>
    {% else %}
    <li><a href="/{{count}}">{{count}}</a></li>
    {% endif %}
    {% endfor %}

  {% if paginator.next_page %}    
    <li>

      <a href="{{ paginator.next_page_path }}" aria-label="Next">
	<span aria-hidden="true">&raquo;</span>
      </a>
    </li>

    {% else %}
        <li class="disabled">

      <a href="#" aria-label="Next">
	<span aria-hidden="true">&raquo;</span>
      </a>
    </li>

    {% endif %}
  </ul>
</nav>
</div>

</div>
  
</div>
