<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      <header class="top row gutters{% if page.title == "Home" %} fadeInLeft animated{% endif %}">
        <div class="col span_2" id="logo-container">
          <a href="/" id="actual-logo" title="{{ site.title }}" style="background-image: url(/public/images/logo.png);"></a>
        </div>
        {% include navigation.html %}
      </header>

      {{ content }}

    </div>
    
    <footer>
       {% include footer.html %} 
    </footer>

    <!-- scripts -->
    <!--百度统计-->
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb942c9f7549938d471dbef766d4b4792' type='text/javascript'%3E%3C/script%3E"));
    </script>
    
    <script src="/public/js/jquery-1.10.2.min.js"></script>
    <script src="/public/js/jquery.fitvids.min.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>
  </body>
</html>
