body                        { background: url(/assets/img/body-bg.jpg) repeat 0 0; }
.aaa                       { background: #36393e url(/assets/img/bg.png) repeat 0 0; box-shadow: 2px 2px 4px #ababab; }
.head                       { background: #36393e url(/assets/img/bg.png) repeat 0 0; box-shadow: 2px 2px 4px #ababab; }