---
layout: default
title: 首页
---

<section class="post-archive">

  {% for post in paginator.posts %}

<div class="year-bundle row gutters fadeInDown animated">
        <h2 class="post-year col span_2">
          {{ post.date | date: '%m-%d' }}
        </h2>
        <div class="posts-by-year col span_10">
          
            
            <div class="row gutters archive-entry">
              <h2 class="post-year col">{{post.title}}</h2>
              <p>{{ post.description }}</p>
              
              <p>  分类：
                {% for cat in post.categories %}
                  <a href="/pages/categories.html#{{cat}}-ref">{{cat}}</a>&nbsp;
                {% endfor %}

                &sdot; 标签： 
                {% for tag in post.tags %}
                  <a href="/pages/tags.html#{{tag}}-ref">{{tag}}</a>&nbsp;
                {% endfor %}
              </p>
              
            </div>
          
        </div>
  </div>

{% endfor %}

<div class="row animated">
  <div class="col span_10">&nbsp;</div>
  <div class="archive-date col span_2">
  <a href="/pages/archive.html"><h1>&nbsp;&nbsp;»</h1></a>
</div>
</div>
</section>