---
layout: page
title: 分类
---
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-pills" role="tablist">
    {% for cat in site.categories | sort %}
    {% if forloop.index ==1 %}
    <li role="presentation" class="active">
      {% else %}
    <li role="presentation" >
      {% endif %}
      
      <a href="#cat-{{forloop.index}}" aria-controls="cat-{{forloop.index}}" role="tab" data-toggle="tab">
	{{cat[0]}}({{cat[1].size}})
      </a>
    </li>
    {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {% for cat in site.categories | sort %}
    {% if forloop.index ==1 %}
    <div role="tabpanel" class="tab-pane active" id="cat-{{forloop.index}}">
    {% else %}
    <div role="tabpanel" class="tab-pane" id="cat-{{forloop.index}}">
    {% endif %}

    {% for post in cat[1] %}
      {% include list.html %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>

</div>


