<!-- Navbar
================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <a href="/" class="brand"><img src="/assets/ico/logo.png" alt="首页"/>心内求法</a>
    <div class="menu container">
          <ul class="nav">
          {% for item in site.menuitems %}
            {% if item.url == page.url %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="{{item.url}}">{{item.name}}</a>
            </li>
          {% endfor %}
            <li>
            <a href="#"><wb:follow-button uid="1878878250" type="red_1" width="67" height="24" ></wb:follow-button></a>
          </li>
        </ul>            
        <ul class="nav pull-right">
          

        
        <li>

          <div class="input-append" style="height:25px;display: block;color: #fff;
background-color: #555;margin-top:8px;">
    <input type="text" class="span2" id="searchkey" placeholder="Search..." 
      style="background: transparent;color: #fff; border: 0px #000 solid;width: 140px;">
  </div>
          


        
      </li>
        <!--li>
            <a href="/atom.xml" target="_blank" rel="tooltip"><img src="/assets/img/sites/rss.png" width="26" alt="订阅"/>
            </a>
        </li>
         <li class="tool">
            <a href="https://github.com/holbrook/holbrook.github.com" target="_blank" rel="tooltip"><img src="/assets/img/sites/github.png" width="24" alt="Folk me on GitHub"/>
                
            </a>
        </li>

         <li class="tool">
            <a href="https://twitter.com/holbrook_wong" target="_blank" rel="tooltip"><img src="/assets/img/sites/twitter.png" width="24" alt="订阅"/>
                
            </a>
        </li>

         <li class="tool">
            <a href="https://www.facebook.com/holbrook.wong" target="_blank" rel="tooltip"><img src="/assets/img/sites/facebook.png" width="24" alt="订阅"/>
                
            </a>
        </li>

        <li class="tool">
            <a href="https://plus.google.com/103925058206179807605/" target="_blank" rel="tooltip"><img src="/assets/img/sites/google.png" width="24" alt="订阅"/>
                
            </a>
        </li-->
    </ul>
    </div>
  </div>
</div>
<!-- END of Navbar -->
