<a href="/atom.xml" target="_blank" rel="tooltip"><img src="/assets/img/sites/rss.png" width="26" alt="订阅"/>
</a>

<script>
$('input#searchkey').bind('keyup', function(event){
  if (event.keyCode=="13"){
    var url='http://www.google.com/search?newwindow=1&q=site%3Athinkinside.tk+'+$('input#searchkey')[0].value;
    window.open(url); 
  }
});
</script>

<!--tags cloud-->

<h5>我的标签</h5>
{% include tags_cloud %}

<h5>文章分类</h5>
<ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %} 
      <li><a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category }}-ref" rel="category">
        {{ category | join: "/" }} <span>{{ site.categories[category].size }}</span>
      </a></li>
    {% endfor %}
  {% else %}
    {% for category in categories_list %} 
      <li><a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref" rel="category">
        {{ category[0] | join: "/" }} <span>{{ category[1].size }}</span>
      </a></li>
    {% endfor %}
  {% endif %}
  {% assign categories_list = nil %}
</ul>

<h5>旧博客</h5>
<ul>
  <li><a href="http://www.cnblogs.com/holbrook/" target="_blank">@博客园</a>(end:2013-05-26)</li>
  <li><a href="http://blog.csdn.net/thinkinside/" target="_blank">@CSDN</a>(end:2012-02-21)</li>
  <li><a href="http://wanghaikuo.blogjava.net/" target="_blank">@blogjava</a>(end:?)</li>
</ul>