<a href="/atom.xml" target="_blank" rel="tooltip"><img src="/assets/img/sites/rss.png" width="26" alt="订阅"/>
</a>

            <script>
            $('input#searchkey').bind('keyup', function(event){
              if (event.keyCode=="13"){
                var url='http://www.google.com/search?newwindow=1&q=site%3Athinkinside.tk+'+$('input#searchkey')[0].value;
                window.open(url); 
              }
            });
          </script>
          
          <!--tags cloud-->
          
            <h5>本站标签</h5>
            {% include tags_cloud %}
          
            <h5>文章分类</h5>
            <ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %} 
      <li><a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category }}-ref" rel="category">
        {{ category | join: "/" }} <span>{{ site.categories[category].size }}</span>
      </a></li>
    {% endfor %}
  {% else %}
    {% for category in categories_list %} 
      <li><a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref" rel="category">
        {{ category[0] | join: "/" }} <span>{{ category[1].size }}</span>
      </a></li>
    {% endfor %}
  {% endif %}
  {% assign categories_list = nil %}
</ul>

          <h5>最新文章</h5>

          <h5>最新评论</h5>
          <!-- UYAN NEW COMMENT BEGIN -->
          <div id="uyan_newcmt_unit"></div>
          <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1784345"></script> <!-- 如果已经过加载此行JS，即可不用重复加载 -->
<!-- UYAN NEW COMMENT END -->

<h5>公益广告</h5>

                    <script type="text/javascript">var yibo_id="55664";</script><script src="http://yibo.iyiyun.com/yibo.js" type="text/javascript"></script>
                