<div class="todo-search">
	<input class="span10 todo-search-field" type="search" value="" placeholder="搜索...">
	</div>
<div class="row-fluid btn-group" style="background-color: rgb(44, 62, 80);">
	
	<a class="span4 btn btn-inverse active" href="#">首页</a>
	<a class="span4 btn btn-inverse active" href="#">标签</a>
	<a class="span4 btn btn-primary" href="#">分类</a>
	<a class="span4 btn btn-inverse active" href="#">归档</a>
	<a class="span4 btn btn-inverse active" href="#">读书</a>
	<a class="span4 btn btn-inverse active" href="#">工作</a>
</div>