<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="Main">
<div class="Sheet">
    <div class="Sheet-tl"></div>
    <div class="Sheet-tr"><div></div></div>
    <div class="Sheet-bl"><div></div></div>
    <div class="Sheet-br"><div></div></div>
    <div class="Sheet-tc"><div></div></div>
    <div class="Sheet-bc"><div></div></div>
    <div class="Sheet-cl"><div></div></div>
    <div class="Sheet-cr"><div></div></div>
    <div class="Sheet-cc"></div>
    <div class="Sheet-body">
<div class="nav">
    <ul class="artmenu">
      <li><a class="active" href="/"><span><span>首页</span></span></a></li>
      <li class="page_item page-item-2"><a href="#"><span><span>分类</span></span></a></li>
      <li class="page_item page-item-2"><a href="#"><span><span>归档</span></span></a></li>
      <li class="page_item page-item-2"><a href="#"><span><span>标签</span></span></a></li>
      <li class="page_item page-item-2"><a href="#"><span><span>关于</span></span></a></li>
    </ul>    <div class="l">
    </div>
    <div class="r">
        <div>
        </div>
    </div>
</div>


<div class="contentLayout">
      {{ content }}
</div>


<div class="cleared"></div>
<div id="footernav" style="text-align:left;">

</div>
<div class="cleared"></div>
<div class="Footer">
  {% include footer.html %}

</div>



  </body>

  <script type="text/javascript" src="/js/script.js"></script>
    <!--百度统计-->
    <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F16d951e9b49ded5f2e821a0e61d77797' type='text/javascript'%3E%3C/script%3E"));
</script>


    <script src="/public/js/jquery-1.10.2.min.js"></script>
    <script src="/public/js/jquery.fitvids.min.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>
</html>
