---
layout:           default
---

<!-- Subhead
================================================== -->


<header class="jumbotron subhead" id="overview">
  
  {% include hotbanner.html %}
  <!--div class="container">
    <h4>推荐阅读</h4>
    <p class="lead">简介整个项目、组件、和如何使用一个简单的模版入门</p>
  </div-->
</header>


  <div class="container">
    <div class="row">
    	<div class="span9">
    		
    		{{ content }}
    		
    	</div>		
    	<!-- 文章导航
    	================================================== -->
    	<div class="span3">
    		  <!--search on google-->
          <div class="white-panel signup-form">
            <input type="text" id="searchkey" placeholder="Search on google">
          </div>
          <script>
            $('input#searchkey').bind('keyup', function(event){
              if (event.keyCode=="13"){
                var url='http://www.google.com/search?newwindow=1&q=site%3Athinkinside.tk+'+$('input#searchkey')[0].value;
                window.open(url); 
                
                
              }
            });
          </script>
    	</div>
    </div>
  </div>


      