---
layout:           default
---

<!-- Subhead
================================================== -->

<!--hot banner-->



  <div class="container">
    <div class="row">
    	<div class="span9">
    		
    		{{ content }}
    		
    	</div>		
    	<!-- 文章导航
    	================================================== -->
    	<div class="span3">
    		  <!--search on google-->
          <div class="white-panel signup-form">
            <input type="text" id="searchkey" placeholder="Search on google" style="background-image:/iamges/google-logo-small">
            <script>
            $('input#searchkey').bind('keyup', function(event){
              if (event.keyCode=="13"){
                var url='http://www.google.com/search?newwindow=1&q=site%3Athinkinside.tk+'+$('input#searchkey')[0].value;
                window.open(url); 
                
                
              }
            });
          </script>
          
          <!--tags cloud-->
          
            <h5>本站标签</h5>
            {% include tags_cloud %}
          
            <h5>文章分类</h5>
            <ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %} 
      <li><a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category }}-ref" rel="category">
        {{ category | join: "/" }} <span>{{ site.categories[category].size }}</span>
      </a></li>
    {% endfor %}
  {% else %}
    {% for category in categories_list %} 
      <li><a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref" rel="category">
        {{ category[0] | join: "/" }} <span>{{ category[1].size }}</span>
      </a></li>
    {% endfor %}
  {% endif %}
  {% assign categories_list = nil %}
</ul>

          <h5>最新文章</h5>

          <h5>最新评论</h5>
        </div>
    	</div>
    </div>
  </div>


      